API_ID= 21818872
API_HASH= b15740ed4ff7f69f46e5a6590f27b9bf
BOT_TOKEN= 6720481419:AAHygz-5TntgT3xQo2xlDkek40aEuLQypNw
LOGGER_ID= -1002140883754
MONGO_DB_URI= mongodb+srv://Aryan:Aryanmusic@aryanmusic0.qzy20ty.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 5724322712
STRING_SESSION= BQFM7fgAjNflgstbDHTHdJsrFTUAVjafrM5Gy7fyowDouAehHeADhsQxsBSF8Scy1QGHsSwxDWEGXY-m2-TP33QDLhJOxUMDfANfL5Xrpbk2a303NJHRI7Cv1QINcSxy5xh76OjdiFfeGTf0jNSrnhaKNLOPFRJJfLpsFanScl4Ng6OVO8YdUpMpnmnkG4BPkgxHYWYumNbuHq4Cf_hdAC0n6vmmKFvO-FRy1pQOPhh1r9LDo7hSp4I5hwzIaNgA6Ohk_KLfKrYsIMWAiHnh5CiagrvBNqP32X52WbztKcK4mg7g0ttVqKgV6cDO_qm7WSoUv0xwyh34kQr7rqcpqL4Hlr3_HwAAAAGACe_3AA
